<div>
    <br>
    <div id='login_pane' name='login_pane' class="login-pane">
        <h3>Login</h3>
        <form>
            <label>Username ===> </label>
            <input type="text" name="username"><br><br>
            <label>Password ===>  </label>
            <input type="text" name="userpassword"><br><br>
            <button type="submit">login</button><br><br>
        </form>
    </div>
    <br>
    <div id='login_pane' name='login_pane' class="login-pane">
        <h3>Don't have an account?</h3>
        <h4>Register now!</h4>
        <form>
            <label>Username ===> </label>
            <input type="text" name="username"><br><br>
            <label>Password ===>  </label>
            <input type="text" name="userpassword"><br><br>
            <button type="submit">register</button><br><br>
        </form>
    </div>
</div>
